# @locked
# ==========================================
# CORE CONFIG
# [CORE]
# This section is expandable but core 
# variables cannot be renamed or deleted
# ==========================================
# @locked
# Connection port for the server
PORT="3000"
# @locked
# Local mode flag. Set to true if running from local server
LOCAL_MODE="true"
# @locked
# Cros origin (cors) setup. 
# If LOCAL_MODE is false, set ALLOWED_ORIGIN to the url where the client 
# is hosted for security (e.g. https://my.originurl.com)
ALLOWED_ORIGIN="YOUR_ORIGIN_URL_HERE"
# @locked
# Places  cache database path. Relative to the server folder.
# If you want to use a different location, change this path accordingly.
# Make sure the path is not within the root of the server folder to avoid 
# continuous reloading of the Live Server in VS Code.
# Make sure the server has write permissions to this path.
DB_PATH="../../../cache/"
# @locked
# Number of maximum parallel generations
GPU_MAX_WORKERS="2"
# @locked
# ==========================================
# SERVER STRATEGIES
# [CORE]
# Names of strategy classes for the server AIEngine.
# NOTE: The name of the class and the name of its 
# .js file must match
#
# This section is expandable but core 
# variables cannot be renamed or deleted
# -------------------------------------------
# Alternative out-of-the-box implementations
#
# Marzipano:
# IMAGE_PROVIDER="MarzipanoImageSource"
# CONTEXT_PROVIDER="MarzipanoContextProvider"
#
# Mapillary:
# IMAGE_PROVIDER="MapillaryImageSource"
# CONTEXT_PROVIDER="GeoapifyContextProvider"
# ==========================================
# @locked
#Provider to fetch the 360 images for analysis
IMAGE_PROVIDER="MapillaryImageSource"
# @locked
#Provider for reverse geolocation (long, lat) --> address
CONTEXT_PROVIDER="GeoapifyContextProvider"
# @locked
#Provider for the VLM
VISION_PROVIDER="LMStudioVisionProvider"
# @locked
#Provider for the AI audio generator (latent diffusion model)
AUDIO_PROVIDER="StableAudioGradioProvider"
# @locked
# ==========================================
# CLIENT STRATEGIES
# [CORE]
# Names of strategy classes for the client.
# NOTE: The name of the class and the name of its 
# .js file must match
#
# This section is expandable but core 
# variables cannot be renamed or deleted
# ------------------------------------------
# Alternative out-of-the-box implementations
#
# Marzipano:
# CLIENT_VIEWER_PROVIDER = "MarzipanoViewerProvider"
# CLIENT_TOPOLOGY_PROVIDER = "MarzipanoTopologyProvider"
# CLIENT_VR_LOADER_PROVIDER = "MarzipanoVRLoader"
#
# Mapillary:
# CLIENT_VIEWER_PROVIDER = "MapillaryViewerProvider"
# CLIENT_TOPOLOGY_PROVIDER = "MapillaryTopologyProvider"
# CLIENT_VR_LOADER_PROVIDER = "MapillaryVRLoader"
# ==========================================
# @locked
#Provider for frontent landing page and 360 images
CLIENT_VIEWER_PROVIDER="MapillaryViewerProvider"
# @locked
#Provider for discovering the topologigal connections between the 360 images
CLIENT_TOPOLOGY_PROVIDER="MapillaryTopologyProvider"
# @locked
#Provider to load the 360 images in WebVR
CLIENT_VR_LOADER_PROVIDER="MapillaryVRLoader"
# @locked
#Provider to determine the node selection for background sounds
CLIENT_NODE_SELECTION_STRATEGY="AcousticHorizonStrategy"
# @locked
#Provider of the semantic meaning for the audio generation
CLIENT_SEMANTIC_PROVIDER="DefaultSemanticProvider"
# @locked
#List of sematic layers used by the semantic provider
CLIENT_SEMANTIC_LAYERS="spatial, ambient, horizon"
# @locked
# ==========================================
# AUDIO PARAMETERS
# [CORE]
# Variables for AcousticTreadmil, SpatialAudioPlayer, and strategies
#
# This section is expandable but core 
# variables cannot be renamed or deleted
# ==========================================
# @locked
# Used by Acoustic Treadmil and by out-of-the-box AcousticHorizonStrategy 
# and AcouisticHorizonStrategy to determine whether the images are 
# spatially coherent (connected node images taken in a sequence one after 
# the other) or not (connected node images from different places)
SPATIALLY_CONTINUOUS="true"
# @locked
# Audio file format. Valid formats wav, ogg, mp3, webm
AUDIO_FORMAT="webm"
# @locked
# Set audio gains (volumes) in the client's Spatial Audio Player
NEIGHBOR_GAIN=".2"
# @locked
LOCAL_GAIN=".3"
# @locked
OBJECT_GAIN="1"
# @locked
# ==========================================
# KEYS AND TOKENS
# ==========================================
# @unlocked
#Mapillary - for out-of-the-box example implementation
MAPILLARY_TOKEN="YOUR_TOKEN_HERE"
# @unlocked
#Geocoding API - Geoapify for out-of-the-box example implementation
GEOAPIFY_TOKEN="YOUR_TOKEN_HERE"
# @unlocked
#Path to the local 360 tour
TOUR_PATH="../../../local_360_tour_example/app-files"
# @locked
# ==========================================
# AI APIS AND PROMPTS
# ==========================================
# @unlocked
# Vision Language Model (LM Studio) - for out-of-the-box example implementation
LM_STUDIO_PORT="1234"
# @unlocked
# Name of the VLM model used (e.g. "qwen/qwen3.6-27b") - for out-of-the-box example implementation
VLM_MODEL_ID="qwen/qwen3.5-9b"
# @unlocked
# Audio Synthesis (Stable Audio Gradio, Pinokio local port) - for out-of-the-box example implementation
STABLE_AUDIO_API="http://127.0.0.1:7860/"
# @locked
# ==========================================
# CLIENT STRATEGY PARAMETERS [OPTIONAL]
# Use CLIENT_PARAM_ prefix for arbitrary client strategy parameters. 
# These will be passed to the client strategy constructor through the
# config.options object (the prefix CLIENT_PARAM will be stripped)
# ==========================================
# @unlocked
#Minimum number of nodes between background audio nodes in the out-of-the-box AcousticHorizonStrategy
CLIENT_PARAM_MIN_SPACING="3"
# @unlocked
#Maximum number of nodes between background audio nodes in the out-of-the-box AcousticHorizonStrategy
CLIENT_PARAM_MAX_GAP="6"
# @locked
# ==========================================
# PYTHON SCRIPTS [OPTIONAL]
# Mock up files provided out-of-the-box as examples
# ==========================================
# @unlocked
PYTHON_VISION_SCRIPT="vision_adapter.py"
# @unlocked
PYTHON_AUDIO_SCRIPT="audio_adapter.py"
# @unlocked
# The Python environment
# For macOS/Linux, usually: python3
# For Windows, usually: python
# For Virtual Environments, use the full path, e.g.: /home/user/project/venv/bin/python
PYTHON_EXEC="python3"